{% extends 'base.html' %}

{% block content %}
<!doctype html>
     <title>{% block title %} - Home{% endblock %}</title>
     <h1>Welcome! Select an option above to get started!</h1>
     <body>
          <div>
              <table class="styled-table">
                  <thead>
                      <tr>
                          <th scope="col">File Name</th>
                          <th scope="col">Actions</th>
                      </tr>
                  </thead>
                  {% for datum in data %}
                    <tr>
                      <td scope="row" class="td-names">{{datum.filename}}</td>
                      <td class="td-actions"><b><a class="two" href="{{url_for('calendarSave', calendarid=datum.id)}}">Save Calendar</a></b></td>
                      <td class="td-actions"><b><a class="two" href="{{url_for('calendarModify', calendarid=datum.id)}}">Edit Calendar</a></b></td>
                      <td class="td-actions"><b><a class="two" href="{{url_for('calendarDelete', calendarid=datum.id)}}">Delete Calendar</a></b></td>
                    </tr>  
                  {% endfor %}
              </table>
          </div>
  
      </body>
{% endblock %}