{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<!doctype html>
    <body>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">File Name</th>
                    </tr>
                </thead>
                {% for datum in data %}
                    <th scope="row">{{datum.filename}}</th>
                    <td><b><a href="{{url_for('calendarSave', calendarid=datum.id)}}">Save Calendar</a></b></td>
                    <td><b><a href="{{url_for('calendarDelete', calendarid=datum.id)}}">Delete Calendar</a></b></td>
                {% endfor %}
            </table>
        </div>

    </body>
{% endblock %}